@import url('https://fonts.googleapis.com/css?family=Lobster');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(255,0,43,0.1);
  /*background-image: url("../img/degradado5.jpg");*/
  height: 100%;
  width: 100%;
  min-width: 500px;
}

#header1{
  height: 50px;
  background-color: rgba(223,0,36,1);
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: forte;
  font-family: 'Lobster', cursive;

}

#all{
  margin:0px;
  padding: 0px;

}

/*::::::::::::::::::::::MENU:::::::::::::::::*/

#nav{
  position: absolute;
  padding: 0px 30px 0px 0px;
  float: left;
  left: 0px;
}

nav{
  width: 60px;
  min-width: 60px;
  background-color: black;
  margin:0px;
  padding: 0px;
}

nav div{
  margin: 0px;
  padding: 0px;
  width: 100%;
  left: 0px;
}

nav div div{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60px;
  padding: 10px;

  border: 1px solid gray;
}

nav div div a{

  

}

nav div div img{
  width: 100%;
  margin: 0px;
}

nav div div:hover{
  transition-duration: 0.1s;
  background: #333;
  border-right: 5px solid rgba(0,255,255,1);
  width: 65px;
}

/*::::::::::::::::::::::FIN DE MENU:::::::::::::::::::*/

#main1{
  padding: 0px;
  float: left;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 80px;
}

#section1{
  margin: 0px;
  margin-top: 20px;
}

.margin-all-0{
  margin: 0px;
}

/*:::::::::::::::::::APLICACIONES::::::::::::::::::*/


#div_all{
  float: left;
  height: auto;
  background: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 3px solid rgba(0,143,203,1);
  margin-bottom: 10px;
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.3);
  
}
#div_all .div_fl{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0px;
  
  margin: 20px 0px;
}


#div_all div div{
  width: 250px;
  height: 200px;
  background-color: rgba(50,50,50,0.6);
  float: left;
  margin: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

#div_all div div img{
  width: 160px;
  height: 160px;
  border-radius: 100px;
  box-shadow: 0px 0px 5px #333;
  margin-top: 20px;
  margin-left: 17%;
}
#div_all div div img:hover{
  border-radius: 100px;
  box-shadow: 0px 0px 5px #333;
  margin-top: 15px;
  border: 5px solid #333;
}

#div_all div div div{
  width: 0px;
  height: 0px;
  background: #333;
  position: absolute;
  margin: 0px;
  
}

#div_all div div .border{
  margin-top: 100px;
}

#div_all div div:hover .border{
  transition-duration: 0.2s;
  width: 5px;
  height: 200px;
  margin: 0px;
}

#div_all div div .border2{
  margin-left: 150px;
}

#div_all div div:hover .border2{
  transition-duration: 0.2s;
  width: 250px;
  height: 5px;
  margin: 0px;
}

#div_all div div .border3{
  margin-top: 100px;
  margin-left: 245px;
}

#div_all div div:hover .border3{
  transition-duration: 0.2s;
  width: 5px;
  height: 200px;
  margin-top: 0px;
}

#div_all div div .border4{
  margin-left: 145px;
  margin-top: 195px;
}

#div_all div div:hover .border4{
  transition-duration: 0.2s;
  width: 250px;
  height: 5px;
  margin-left: 0px;
}

/*::::::::::::::FIN DE APLICACIONES:::::::::::::::*/

/*::::::::::::::::FRASES DEL DIA:::::::::::::::::*/

#div_right{
	background: white;
	float: left;
  height: auto;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 3px solid rgba(0,143,203,1);
  box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.3);
}

#div_right #div_right_inside{
  margin: 20px 0px;
  
  padding: 0px 0px;
  height: auto;
}

#div_right .divs_right{
	width: 90%;
	height: 200px;
	background: rgba(147,169,213,1);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	font-size: 15px;
	color: #333;
	font-weight: bold;
  margin: 5px;
  margin-right: 5px;
  justify-content: center;
  margin-left: 5%;
}


#div_right #div_right_inside .div_top{
	margin: 0px;
	background: rgba(6,105,178,1);
	width: 100%;
	height: 40px;
	color: white;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	font-size: 25px;
	font-weight: bold;
}

#div_right #div_right_inside #div_right2{
  margin-top: 10px;

}

/*::::::::::::::FIN DE FRASES DEL DIA:::::::::::::*/


.infoshow{
  color: white;
  position: absolute;
  margin-left: 70px;
  margin-bottom: 20px;
  background: rgba(50,50,50,0.7);
  padding: 5px 10px;
  border-radius: 10px;
  float: left;

}

@media(min-width: 650px){
  #header1{
    font-size: 40px;
  }
}












