/*::::::::::::::::::::::::::MENU::::::::::::::::::::::::::*/
#div_menu{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
}
#menu-bar{
  display: none;
}

#label_menu{
  position: absolute;
  top: 0px;
  float: left;
  font-size: 28px;
  margin: 0px 0;
  cursor: pointer;/*mano*/
}
#label_menu img{
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  filter: invert(100%);
}

.menu{
  position: absolute;
  top: 69px;
  left: 0;
  width: 100%;
  height: 100vh;
  background:  white;
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  font-size: 20px;
  border-right:1px solid rgba(84,108,128,1);
}

.menu a{
  display: block;
  color: rgba(84,108,128,1);
  height: 70px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  text-align: center;
}
.menu a span{
  display: none;
}

.menu a:hover{
  background: rgba(255,255,255,0.3);
  color: white;
  background: rgba(84,108,128,1);
  text-align: center;
}
.menu a:hover p{
  display: none;
}

.menu a:nth-child(1):hover span{
  display: inline;
  color: rgba(128,218,128,1);
}
.menu a:nth-child(2):hover span{
  display: inline;
  color: rgba(128,218,128,1);
}
.menu a:nth-child(3):hover span{
  display: inline;
  color: rgba(128,218,128,1);
}
.menu a:nth-child(4):hover span{
  display: inline;
  color: rgba(128,218,128,1);
}

#menu-bar:checked ~ .menu{
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

/*::::::::::::::::::FIN DE MENU:::::::::::::::::::::*/

