@import "../../menu_cuadrados/menu_cuadrados.css";
*{
			margin: 0px;
			padding: 0px;
	}
		body{
			/*background: rgba(128,128,128,0.1);*/
			background-color: rgba(70,70,70,1);
		}
		#boton{

		background:gray;
		width: 100px;
		height: 40px;
		border: none;
		border-radius: 5px;
		color:white;
		margin: 10px;

		}
		#rojo{
			background: red;
			border-radius: 5px;
			width: 60px;
			height: 30px;
			margin: 10px;


		}
		#verde{
			background: green;
			border-radius: 5px;
			width: 60px;
			height: 30px;
			margin: 10px;

		}
		#azul{
			background: blue;
			border-radius: 5px;
			width: 60px;
			height: 30px;
			margin: 10px;

		}
		#copiar{
			height: 5px;padding: 0;
			margin: 0;
			background: rgba(43,130,242,1);
			box-shadow: 1px 1px 3px #333;
			color:white;
			width: 70px;
			height:30px;
			border-radius:5px;
			margin: 10px;

		}
		button{
			color: white;
			border:none;
		}
		label{
			height: 30px;
			margin-left:5px;
			color:white;
		}
		/*div{
			margin: 10px;
		}*/
		/*cabecera*/

		#c{
			position: fixed;
		top: 0px;
		}
		
		#cabecera{
			
			width: 100vw;
			height: 60px;
			background: rgba(16,197,166,1);
			color:white;
			font-size: 30px;
			box-shadow: 0px 2px 2px #333;

		}
		#cabecera img{
			width: 0px;
			color: white;
			filter: invert(100%);
		}
		#cabecera label{
			float: left;
		}




		/*main*/

		}main{
			width: 70%;
			float: right;
			background: red;

			margin: 550px 35% 30px 10%;
			padding-top: 100px;
		}
		section{
			padding-top: 150px;
			width: 100%;
			box-shadow: 0px 0px 2px gray;
			padding: 10px;
			background: white;
			margin-top: 180px;
			box-shadow: 3px 3px 3px #333;
		}
		p{
			margin: 25px;
		}
		/*input*/
		#codigo2{
			-webkit-transform: translateY(-10000px);
			transform: translateY(-10000px);
			-moz-transform: translateY(-10000px);
		}

		.ad{
		  width: auto;
		  height: auto;
		  position: fixed;
		}
		#adbyexoclick{
		  
		  
		  top: 200px;
		  left: 10px;
		}

		#div_all{
			position: absolute;
			top: 0px;
		}

		@media (min-width: 780px){
			main section{
				width: 60%;
			}
		}



/*::::::::::::::::::::::::::MENU::::::::::::::::::::::::::*/
#div_menu{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 150px;
}
#menu-bar{
	display: none;
}

#label_menu{
	position: absolute;
	top: 0px;
	float: left;
	font-size: 28px;
	margin: 0px 0;
	cursor: pointer;/*mano*/
}
#label_menu img{
	top: 0px;
	left: 0px;
	width: 60px;
	height: 60px;
}

.menu{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	height: 100vh;
	background:  rgba(51,51,51,0.9);
	transition: all 0.5s;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	font-size: 20px;
	box-shadow: 1px 1px 3px black;
}

.menu a{
	display: block;
	color: #fff;
	height: 30px;
	text-decoration: none;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover{
	background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu{
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

/*::::::::::::::::::FIN DE MENU:::::::::::::::::::::*/

