.box{
	background-color: white;
	color: #333;
	width: 100%;
}
.box div{
	width: 100%;
	padding: 10px;
}
.box div img{
	width: 20px;
}
.box-header{
	font-weight: bolder;
}
.box-body{

}

.box .box-header{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}