@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');

*{
	margin: 0px;
	padding: 0px;
}

body{
	/*background: rgba(37,128,91,0.2);*/
	background-color: rgba(0,180,115,0.1);
}
body:hover #index input{
	transition-duration: 0.8s;
	right: 30px;
}
/*cabecera
header{
	position: fixed;
	top: 0px;
	width: 100vw;
	height: 60px;
	background-image: url("../../img/header.png");
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: 'Ruslan Display', cursive;


}
header img{
	width: 60px;
	filter: invert(100%);
}
header label{
	float: left;
}


/*CABECERA*/







/*MAIN*/


#btn_limpiar{
	border: none;
	border: 1px solid rgba(37,128,91,1);
	padding: 11px 25px;
	border-radius: 2px;
	background: none;
	color: rgba(37,128,91,1);
	cursor: pointer;
	font-weight: bold;
}
#btn_limpiar:hover{
	background-color: rgba(37,128,91,1);
	color: white;
}

/*tabla*/
table{
	border-radius: 5px;
	border: 2px solid rgba(0,143,164,1);
	color: #333;
}
thead{
	background: rgba(0,143,164,1);
	color:white;
	font-weight: bolder;
}
td{
	padding: 5px;
}

tr{
	background: rgba(0,143,164,0.1);
}

/*::::::FOOTER:::::::::::::::*/

#footer1{
	background: #333;
	color: white;
	text-align: center;
	height: 40px;
	margin-top: 10px;
	padding: 10px 0px;
}

input{
	cursor: pointer;
}

/*::::::::::::::::::::::::::MENU::::::::::::::::::::::::::*/
#div_menu{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
}
#menu-bar{
  display: none;
}

#label_menu{
  position: absolute;
  top: 0px;
  float: left;
  font-size: 28px;
  margin: 0px 0;
  cursor: pointer;/*mano*/
}
#label_menu img{
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
}

.menu{
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100vh;
  background:  white;
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  font-size: 20px;
  border-right: 1px solid rgba(0,180,115,1);
}

.menu a{
  display: block;
  color: rgba(5,202,135,1);
  height: 70px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover{
  background: rgba(255,255,255,0.3);
  color: rgba(0,180,115,1);
  text-decoration: underline;
}

#menu-bar:checked ~ .menu{
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

/*::::::::::::::::::FIN DE MENU:::::::::::::::::::::*/


