@import url('https://fonts.googleapis.com/css?family=Ruslan+Display');

@import url("../../css/all-styles.css");

*{
	margin: 0px;
	padding: 0px;
}


body:hover #index input{
	transition-duration: 0.8s;
	right: 30px;
}
/*cabecera*/

header{
	background: rgba(83,108,123,1);
}

/*CABECERA*/

input{
	outline: 0px;
}





/*MAIN*/


#btn_limpiar{
	border: none;
	border: 1px solid rgba(37,128,91,1);
	padding: 11px 25px;
	border-radius: 2px;
	background: none;
	color: rgba(37,128,91,1);
	cursor: pointer;
	font-weight: bold;
}
#btn_limpiar:hover{
	background-color: rgba(37,128,91,1);
	color: white;
}

/*tabla*/
table{
	border-radius: 5px;
	border: 2px solid rgba(0,143,164,1);
	color: #333;
}
thead{
	background: rgba(0,143,164,1);
	color:white;
	font-weight: bolder;
}
td{
	padding: 5px;
}

tr{
	background: rgba(0,143,164,0.1);
}

/*::::::FOOTER:::::::::::::::*/

#footer1{
	background: #333;
	color: white;
	text-align: center;
	height: 40px;
	margin-top: 10px;
	padding: 10px 0px;
}

input{
	cursor: pointer;
}

/*::::::::::::::::::::CAJAS::::::::::::::::*/
.box{

}
.box-header{
	padding: 5px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.box-header img{
	width: 25px;
}

.box-body{
	padding: 10px;
}


