@import "../../menu_cuadrados/menu_cuadrados.css";
*{
	margin: 0px;
	padding: 0px;
}

body{
	/*background: rgba(22,71,93,0.1);*/
	
}

/*::::::::::::CUERPO:::::::::*/

#main1{
	width: 100%;
	margin-top: 100px;z-index: 1101;
}
#section1{
	margin: 20px;
	width: 650px;
	height: 650px;
	
	margin-left: 50%;


	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

/*::::::::CALCULADORA::::::::*/
#div1{
	background: rgba(90,90,90,1);
	background: rgba(0,138,128,1);
	border-radius: 30px;
	width: 350px;
	height: 350px;
	margin-left: 50%;
	transform: translate(-50%,100px);
	-webkit-transform: translate(-50%,100px);
	-moz-transform: translate(-50%,100px);
	padding: 45px 30px;
	box-shadow: 2px 2px 3px #333;
}
#div1 .ln{
	width: 100%;
	height: 70px;
	border-radius:5px;
}
/*:::::::::::LCD::::::::::*/
#div1 #linea1{
	padding-bottom: 10px;
}

#div1 .ln #lcd{
	background: white;
	border-radius:5px;
	width: 95%;
	height: 80%;

	transform: translateY(10px);
	-webkit-transform: translateY(10%);
	-moz-transform: translateY(10%);
	margin-left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	font-weight: bold;
	font-size: 25px;
	text-align: right;
}
/*:::::::::mini-lcd::::::::::*/
#div1 .ln #mini-lcd{
	border: none;
	width: 20%;
	background: rgba(24,143,122,1);
	position: absolute;
	margin-bottom: auto;
	margin: auto;
	padding: inherit;
	margin-left: 62%;
	margin-bottom: 50%;
	transform: translateY(-60px);
	-webkit-transform: translateY(-60px);
	font-weight: bold;
	color: white;
	padding: 3px;
	border-bottom: solid #333 1px;
	border-left: solid #333 1px;
	font-size: 10px;
	/*transform: translateY(-80px);
	-webkit-transform: translateY(-80%);
	-moz-transform: translateY(-80%);*/
}

/*:::::::BOTONES::::::*/

#div1 .ln .btn{
	width: 60px;
	height: 80%;
	background: rgba(249,174,60,1);
	float: left;
	margin-right: 5px;
	border-radius: 10px;
	margin-left: 5px;
	color: #333;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	border:solid #333 2px;
}
#div1 .ln .btn2{
	width: 60px;
	height: 80%;
	float: left;
	margin-right: 5px;
	border-radius: 10px;
	margin-left: 5px;
	color: #333;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	background: rgba(255,116,38,1);
	border:solid #333 2px;
}

/*::::::FOOTER:::::::::::::::*/

#footer1{
	width: 100%;
	height: 40px;
	background: #333;
	color: white;
	text-align: center;
	padding: 10px 0px;
}

/*::::::::::::::::::::::::::MENU::::::::::::::::::::::::::*/
#div_menu{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
}
#menu-bar{
  display: none;
}

#label_menu{
  position: absolute;
  top: 0px;
  float: left;
  font-size: 28px;
  margin: 0px 0;
  cursor: pointer;/*mano*/
}
#label_menu img{
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
}

.menu{
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  height: 100vh;
  background:  white;
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  font-size: 20px;
  border-right: 1px solid #006699;
}

.menu a{
  display: block;
  color: gray;
  height: 70px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover{
  background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu{
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

/*::::::::::::::::::FIN DE MENU:::::::::::::::::::::*/
/*:::::::::::::::::::ADS EXOCLIK::::::::::::::::::::*/

.div_ad{
	float: left;
}

/*:::::::::::::::::::ADS ADXXX::::::::::::::::::::*/

.adxxx{
	position: fixed;
	top: 200px;
}
#adbyadxxx{
	left: 10px;
}
#adbyadxxx2{
	right: 10px;
}