@import "../../menu_cuadrados/menu_cuadrados.css";
*{
	margin: 0px;
	padding: 0px;
}

body{
	background: rgba(22,71,93,0.1);
}

/*::::::::::TITULO::::::::*/

#header1{
	width: 100vw;
	height: 60px;
	background-color: rgba(0,133,128,1);
	color: white;
	text-align: center;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px #333;
	float: top;
	font-size: 20px;
}
#header1 h1{
	padding: 0;
	padding-top: 10px;

}

/*::::::link index.html::::::*/
#header1 label{
	position: absolute;
	left: 0px;
	float: left;
}
#header1 label img{
	width: 60px;
}
#header1 label img:hover{
	width: 64px;
}

/*SOCIALES*/

#caja{
	transition-duration: 0.5s;
	position: fixed;
	width: 50px;
	height: auto;
	transform: translateX(-40px);
	-webkit-transform: translateX(-40px);
	-moz-transform: translateX(-40px);
	top: 100px;
}
#caja div{
	transition-duration: 0.5s;
	width: 100%;
	height: 50px;
	border: 2px solid blue;
	background: white;

}
#caja:hover{
	transition-duration: 0.5s;
	transform: translateX(0px);
	-webkit-transform: translateX(-2px);
	-moz-transform: translateX(0px);
}
#caja div:hover{
	transition-duration: 0.5s;
	width: 60px;
	box-shadow: 2px 2px 4px #333;
	border-radius: 3px;
}
#caja div img{
	margin: 5px 0px 0px 12%;
	width: 30px;
}
#caja div a{
	width: 100%;
	height: 100%;
	padding: 17px 10px 10px 5px;
}

/*::::::::::::CUERPO:::::::::*/

#main1{
	width: 100%;
}
#section1{
	margin: 20px;
	width: 650px;
	height: 650px;
	background: rgba(0,152,144,1);
	box-shadow: 0px 0px 4px #333;
	margin-left: 50%;

	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	border-radius: 500px;
	box-shadow: 0px 0px 5px black;
}

/*::::::::CALCULADORA::::::::*/
#div1{
	background: rgba(90,90,90,1);
	border-radius: 30px;
	width: 350px;
	height: 350px;
	margin-left: 50%;
	transform: translate(-50%,100px);
	-webkit-transform: translate(-50%,100px);
	-moz-transform: translate(-50%,100px);
	padding: 45px 30px;
	box-shadow: 2px 2px 5px #333;
}
#div1 .ln{
	width: 100%;
	height: 70px;
	border-radius:5px;
}
/*:::::::::::LCD::::::::::*/
#div1 #linea1{
	padding-bottom: 10px;
}

#div1 .ln #lcd{
	background: white;
	border-radius:5px;
	width: 95%;
	height: 80%;

	transform: translateY(10px);
	-webkit-transform: translateY(10%);
	-moz-transform: translateY(10%);
	margin-left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	font-weight: bold;
	font-size: 25px;
	text-align: right;
}
/*:::::::::mini-lcd::::::::::*/
#div1 .ln #mini-lcd{
	border: none;
	width: 20%;
	background: rgba(24,143,122,1);
	position: absolute;
	margin-bottom: auto;
	margin: auto;
	padding: inherit;
	margin-left: 62%;
	margin-bottom: 50%;
	transform: translateY(-60px);
	-webkit-transform: translateY(-60px);
	font-weight: bold;
	color: white;
	padding: 3px;
	border-bottom: solid #333 1px;
	border-left: solid #333 1px;
	font-size: 10px;
	/*transform: translateY(-80px);
	-webkit-transform: translateY(-80%);
	-moz-transform: translateY(-80%);*/
}

/*:::::::BOTONES::::::*/

#div1 .ln .btn{
	width: 60px;
	height: 80%;
	background: rgba(249,174,60,1);
	float: left;
	margin-right: 5px;
	border-radius: 10px;
	margin-left: 5px;
	color: #333;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	border:solid #333 2px;
}
#div1 .ln .btn2{
	width: 60px;
	height: 80%;
	float: left;
	margin-right: 5px;
	border-radius: 10px;
	margin-left: 5px;
	color: #333;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	background: rgba(255,116,38,1);
	border:solid #333 2px;
}

/*::::::FOOTER:::::::::::::::*/

#footer1{
	width: 100%;
	height: 40px;
	background: #333;
	color: white;
	text-align: center;
	padding: 10px 0px;
}
