*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgba(22,71,93,0.2);
}
#header1{
  width: 100%;
  height:   100px;
  background-color: rgba(12,12,110,0.6);
  color: white;
  text-align: center;
  font-size: 35px;
}

#main1{
  width: 90%;
  height: 100%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
}
#section1{
  width: 100%;
  height: 500px;
  margin: 10px 0px 10px 0px;
}

#div_musicas{
  width: 100%;
  height: auto;
  background-color: red;
}

#div_musicas .div_generos{
  width: 250px;
  height: 250px;
  float: left;
}

.div_genero{
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 5px;
  margin: 25px;
  box-shadow: 0px 0px 5px #333;
}

.div_genero:hover{
  width: 210px;
  height: 210px;
  border: 5px solid #333;
  margin: 15px;
}
.div_genero div img{
  width: 190px;
  height: 90px;
  margin-left: 5px;
  margin-top: 5px;
}


.div_genero1{
  width: 100%;
  height: 50%;
  float: top;
}
.div_genero2{
  width: 100%;
  height: 50%;
  float: bottom;
  background-color: rgba(12,12,96,0.7);
  color:white;
  font-family: forte;
  font-size: 25px;
}
.div_genero2:hover{
  background-color: rgba(12,12,96,0.8);
}

#div_reggaeton{
  background-color: white;
}

#div_electro{
  background-color: white;
}

#div_rock{
  background-color: white;
}

#div_rap{
  background-color: white;
}


#section2{
  width: 100%;
  height: 250px;
  background-color: rgba(39,110,80,1);
}

.m_section{
  color: white;
  text-align: center;
  font-size: 30px;

}
.m_section:hover{
  
}

br{
  height: 50vh;
}


input{
  width: 80px;
  height: 40px;
  background-color: none;
  border-radius: 5px;
  border: solid 2px orange;
  color: orange;
  font-size: 25px;
}
input:hover{
  background-color: orange;
  border-radius: 5px;
  border: solid 2px orange;
  color:white;
}