*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgba(22,71,93,0.2);
}
#header1{
  width: 100%;
  height: 80px;
  background-color: rgba(0,71,238,0.8);
  color: white;
  text-align: center;
  font-size: 35px;
}

#div_espacio{
  width: 100%;
  height: 15px;
}

#main1{
  width: 600px;
  height: 100%;
  margin-left: 50%;
  margin-top: 50px;
  -webkit-transform: translateX(-50%);
  border-left:1px solid rgba(128,128,128,0.4); 
  border-right:1px solid rgba(128,128,128,0.4);
  height: inherit;
}
#section1{
  width: 600px;
  height: 1000px;
  margin: 10px 0px 10px 0px;
}

#div_musicas{
  width: 100%;
  height: auto;
  background-color: red;
}

#div_musicas .div_generos{
  width: 250px;
  height: 250px;
  float: left;
  margin-left: 35px;
  background-color: white
}

.div_genero{
  width: 200px;
  height: 200px;
  float: left;
  border-radius: 5px;
  margin: 25px;
  box-shadow: 0px 0px 5px #333;
}

.div_genero:hover{
  width: 210px;
  height: 210px;
  border: 5px solid #333;
  margin: 15px;
}
.div_genero div img{
  width: 190px;
  height: 90px;
  margin-left: 5px;
  margin-top: 5px;
}


.div_genero1{
  width: 100%;
  height: 50%;
  float: top;
}
.div_genero2{
  width: 100%;
  height: 50%;
  float: bottom;
  background-color: rgba(0,115,255,0.8);
  color:white;
  font-family: forte;
  font-size: 25px;
}
.div_genero2:hover{
  background-color: rgba(12,12,96,0.8);
}

#div_reggaeton{
  background-color: white;
}

#div_electro{
  background-color: white;
}

#div_rock{
  background-color: white;
}

#div_rap{
  background-color: white;
}


#section2{
  width: 100%;
  height: 250px;
  background-color: rgba(39,110,80,1);
}

.m_section{
  color: white;
  text-align: center;
  font-size: 30px;

}
.m_section:hover{
  
}

br{
  height: 10px;
}


input{
  margin-left: 54px;
  width: 80px;
  height: 40px;
  background-color: none;
  border-radius: 5px;
  border: solid 2px rgba(0,115,255,0.8);
  color: rgba(0,115,255,0.8);
  font-size: 25px;
  cursor: pointer;
}
input:hover{
  background-color: rgba(0,115,255,0.8);
  border-radius: 5px;
  border: solid 2px rgba(0,115,255,0.8);
  color:white;
}

/*::::::::::::::::::::::::::MENU::::::::::::::::::::::::::*/
#div_menu{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
}
#menu-bar{
  display: none;
}

#label_menu{
  position: absolute;
  top: 0px;
  float: left;
  font-size: 28px;
  margin: 0px 0;
  cursor: pointer;/*mano*/
}
#label_menu img{
  margin-top: 10px;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  filter: invert(100%);
}

.menu{
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  background:  rgba(51,51,51,0.9);
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  font-size: 20px;
}

.menu a{
  display: block;
  color: #fff;
  height: 58px;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover{
  background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu{
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

/*::::::::::::::::::FIN DE MENU:::::::::::::::::::::*/